/*Change the icon size of the footer and header*/
@media (max-width:700px) {
header p{
  display: none;
}
header a{
  font-size: 3.2em;
}
}
*{
  margin:0;
  padding:0;
}
html , body {
  height:100%;
  width: 100%;
}

body{
background:#bdbebf;
overflow-x: hidden;
width:100%;
background-size:cover;
background-position: top;


}

/*nav bar*/
/*To change the size of the tabs*/
header ul{
  z-index: 5
}
header a{
display:flex;
font-weight: lighter;
height: 50px;
justify-content: center;
align-items: center;
color: white;
background:#191717;
width: 100%;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1.2em;
text-decoration: none;
}
header ul {
  list-style: none;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background:#191717;
text-decoration: none;
border-bottom: 3px solid #079dbd;
}
header p{
  margin-left: 5%;
  margin-right: 5%;
}
header ul li{
  display: inline-block;
float: right;
width:10%;
}
nav ul li a:hover  {
  background: #079dbd;
transition: all .4s ease-in-out;
}
/*logo*/

nav ul  img{
width: 120px;
position: relative;
height: 120px;
}
nav ul img:hover{
  background: none;
}
header li:first-child:hover{
  background: none;
}
header li:first-child{
  float: left;
  margin-top: 10px;
  margin-left: 20px;

}
/*active tab*/
.active a{
  background-color: #079dbd;
  box-shadow:2px 4px 15px 0px rgba(50, 50, 50, 0.87);
}

/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
}
.social img{
  width: 2.45em;
  height: 2.45em;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}
