/*Name:Benjamin George Jong McKeown Student number:16424393*/
*{
  margin:0;
  padding:0;
}
html,body {
  height:100%;
}
.active a{
  background-color: #079dbd;
}
body{

margin: 0;
padding: 0;
background: url("../images/background2.jpg");
background-position:top;
background-repeat: no-repeat;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
overflow-x: hidden;
}

/*nav bar*/
header a{
display: block;
height: 70px;
text-align: center;
line-height: 65px;
color: white;
float: right;
  background:#191717;
width: 180px;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 20px;
  text-decoration: none;
top: 0;
}
header li a:last-child{
  margin-right: 100px;
}
.icons{
  height: 30px;
  width: 30px;
float: left;
margin-top: 18px;
padding-left: 20px;
}
header ul {
  list-style: none;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background:#191717;
border-bottom: 3px solid #079dbd;
}
header ul li{
  display: inline-block;
float: right;

}
header ul li :hover  {
  background: #079dbd;
transition: all .4s ease-in-out;

}
header ul{
  text-decoration: none;
  list-style: none;
}
header ul img{
  width: 130px;
  height: 130px;
}
header ul img:hover{
  background: none;

}
header li:first-child{
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}


/* Content */
 main {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
min-height: 100%;
margin-bottom: -47px;
}

 main ul {

padding-left: 120px;
padding-right: 120px;
padding-top: 20px;
padding-bottom: 20px;
  border: 2px white solid;
  list-style: none;
  text-align: center;
border-radius: 40px;
font-weight: normal;
margin-top: 50px;
font-family: 'Kanit', sans-serif;
}
main img {
  width: 250px;
  height: 250px;
  border-radius:300px;
  border: 2px white solid;
}

/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}

.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 40px;
padding-bottom: : 20px;

}
.social img{
  width: 40px;
  height: 40px;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}
.copyright {
color:white;
border: none;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 line-height: 40px
}
/*Big screen */
@media (max-width: 1286px), handheld and (orientation: landscape){
  .icons{
    width: 30px;
    height: 30px;
  }
  header a{
    width: 100px;
    font-size: 20px;
    position: relative;
padding-right: 12px;
    }
    header {
      margin-right: 10px;
    }
/*medium sized screen*/
  @media (max-width: 1014px), handheld and (orientation: landscape){

.icons{
  padding-left:  17px;
}
    header a{
      width: 50px;
      float: left;
      overflow: hidden;
      text-indent: 100%;
    white-space: nowrap;

    }

    /*small screen*/
    @media (max-width: 814px), handheld and (orientation: landscape){

header li a img{
display: none;
}
header a {
  display: none;
}
    }
