/*Name:Benjamin George Jong McKeown Student number:16424393*/
/*Styling of the webpage*/


/* Content */
main{
min-height: 100%;
}
main h1{
  color: black;
  position: block;
  justify-content: center;
  align-items: center;
  display: flex;
padding-top: 1.5em;
padding-bottom: 1em;
margin-top: 1em;
font-family: 'Kanit', sans-serif;
font-size: 1.7em;
background-color: white;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
}
.links ul{
  z-index: 3;
}
.links ul{
  position: relative;
display: flex;
justify-content: space-around;;
  flex-direction: row;
  list-style: none;
align-items: center;
padding-left: 30%;
padding-right: 30%;
margin-top: 3%;

}
.intro a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
margin-left: 5%;
margin-right:5%;
  padding: 3em;
  font-size: 1.5em;
  font-weight: lighter;
  box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
}
.links img{
  width:5em;
  height: 5em;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,1));
}
.links img:hover{
  transition: all .4s ease;
  transform: scale(1.2);
}

form {
width: 107em;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
background-color: white;
font-family: 'Yanone Kaffeesatz', sans-serif;
padding-bottom: 2em;
margin-top: 2%;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
align-items: center;
  margin-top: 2%;
  margin-bottom: 6%;
}

.form-title {
  display: flex;
justify-content: center;
  font-weight: lighter;
  text-decoration: underline;
  color: #079dbd;
  font-size: 1.7em;
margin-top: 1%;
}
.form-group{
  font-size: 1.3em;
  font-weight: lighter;

}
.form-group{
  margin-left: 5%;

}

textarea{margin-top: 1%;
width: 95%;}

input{
  margin-top: 1%;
  width: 95%;
}
label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
padding-top: 1%;
}
button{
  margin-top: 2%;
  background-color: #079dbd;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 250px;
  color: white;
  display: flex;
justify-content: center;
padding: 1em;
}
.buttonwrap{
  display: flex;
  justify-content:center;}

textarea {
  resize: none;
}

/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
}
.social img{
  width: 2.45em;
  height: 2.45em;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}

@media (max-width:800px){
.intro a{
}

  .links img{
    width: 3.5em;
    height: 3.5em;
  }
}
@media (max-width:459px) {
  main h1{
    margin-top:4em;
  }
}
@media (max-width:1688px){
  form{
    width: 70em;
  }
}
@media (max-width:1141px){
  form{
    width: 40em;
  }
}




  /* ----------- iPhone 6 ----------- */

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
      main h1{
      font-size: 1.2em;
    margin-top: 5.5em;
  }
  .intro a{
    font-size: 1em;
  }
form{
  width:17em;
}
  }
  /*Iphone5*/
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2){
      main h1{
      font-size: 1.2em;
    margin-top: 5.5em;
    }
    .intro a{
    font-size: 0.9em;
    }
form{
  width:13.5em;
}
.form-group{
  font-size: 1em;
}
}
  }


  /* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
main{
  height: 120%;
}
form{
  width: 40em;
}
 .intro a{
   margin-top: 5em;
 }
}
