/*Name:Benjamin George Jong McKeown Student number:16424393*/
/*Styling of the webpage*/

/* Content */
 main {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color:black;
min-height: 100%;


}
/*Title of page*/
 main ul {

padding:1.250em 7.500em;
  list-style: none;
  text-align: center;
font-weight: normal;
margin-top: 5vmin;
font-family: 'Kanit', sans-serif;
font-size: 0.938em;
background-color:white;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
}

/*Profile picture*/
main img {
  width: 15.625em;
  height:15.625em;
  border-radius:300vmin;
  box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);

}
/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
}
.social img{
  width: 2.45em;
  height: 2.45em;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}

@media (max-width:771px) {
main ul{
padding:1.150em 5.500em;
font-size: 0.8em;
}
main img{
  width:12.625em;
  height:12.625em;
}
}
@media (max-width:700px) {
main ul{
padding:1.050em 4.500em;
font-size: 0.8em;
}
main img{
  width:10.625em;
  height:10.625em;
}

/*nexus5X Portrait and landscape*/
@media screen
and (min-device-width:412px)
and (max-device-width:732px)
  and (-webkit-min-device-pixel-ratio: 3) {
  main ul{
  padding:1.050em 3.500em;
  font-size: 0.5em;
  }
  main img{
    width:10.625em;
    height:10.625em;
  }
  header p{
    display: none;
  }
  header a{
    font-size: 1em;
  }

/* Iphone 5 Portrait and Landscape */
@media screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }

}
/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }
    .social li{
      margin-top: 0.5em;
    }
}


@media (max-width:437px) {
main img{
  width:8.625em;
  height:8.625em;
}
}
