/*Name:Benjamin George Jong McKeown Student number:16424393*/
/*Styling of the CV webpage*/

*{
  margin:0;
  padding:0;
}
html , body {
  height:100%;
  width: 100%;
}

body{
background: url("../images/background3.jpg");
background-position:top;
background-repeat: no-repeat;
overflow-x: hidden;
width:: 100%;

}

/*nav bar*/
/*To change the size of the tabs*/
header a{
display:flex;
font-weight: lighter;
height: 50px;
justify-content: center;
align-items: center;
color: white;
background:#191717;
width: 100%;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 2.2vmin;
text-decoration: none;
position:relative;
z-index: 1;
}
header ul {
  list-style: none;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background:#191717;
text-decoration: none;
border-bottom: 3px solid #079dbd;
}
header ul li{
  display: inline-block;
float: right;
width:10%;
}
header ul li :hover  {
  background: #079dbd;
transition: all .4s ease-in-out;
}
/*logo*/
header ul img{
width: 120px;
position: fixed;
height: 120px;
}
header ul img:hover{
  background: none;
}
header li:first-child{
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border: none;
}
/*active tab*/
.active a{
  background-color: #079dbd;
}

/* Content */
main{
  display: flex;
  color: white;
  flex-direction: column;
  height:100%;
flex: -1;
   justify-content: center;
}
.info h1{
  display: flex;
  justify-content: center;
margin-top: 7vmin;
font-family: 'Kanit', sans-serif;
text-decoration: underline;
text-align: center;
font-size: 3vmin;
}
.info ul{

line-height: 3.2vmin;
  display: flex;
justify-content: center;
  list-style: none;
  margin-top: 10vmin;
margin-right: 20vmin;

}
.info ul a{

display: flex;
font-size: 2vmin ;
  width: 60vmin;
  height: 40vmin;
  padding: 20px;
font-family: 'Yanone Kaffeesatz', sans-serif;
background-color:rgba(25, 23, 23, 0.6);
border-radius: 3vmin;
border: 2px white solid;

}
.info img{

  width: 30vmin;
  height: 30vmin;
  border-radius: 30vmin;
margin-left: 15vmin;
margin-top: 8vmin;
border:white 2px solid;
}
main h2{
  display: flex;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
margin-top: 5vmin;
font-size: 3vmin;}


.columns{
  display: flex;
justify-content: space-around;
text-align: center;

}
.columns {
  font-family:  'Yanone Kaffeesatz', sans-serif;
margin-top: 5vmin;
margin-left: 5vmin;
margin-right: 5vmin;
padding: 20px;

font-size: 2vmin;
background-color: rgba(25, 23, 23, 0.6);
font-family:  'Yanone Kaffeesatz', sans-serif;
border-radius: 3vmin;
border:2px white solid;
}

.columns h3{
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
 }
.columns ul{
float: left;
list-style: none;
}











/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
margin-top: 10vmin;
display: flex;
justify-content: flex-end;
flex-direction: column;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
padding-bottom: : 2vmin;

}
.social img{
  width: 4vmin;
  height: 4vmin;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}
/*Copyright statement*/
.copyright {
color:white;
border: none;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 line-height: 4vmin;
 font-size: 2vmin;
}
