/*Name:Benjamin George Jong McKeown Student number:16424393*/
/*Styling of the webpage*/

*{
  margin:0;
  padding:0;

}
html,body {
  height:100%;
}

body{
background:#6AA6D6;
overflow-x: hidden;
height:100%;
top: 0;
left: 0;
background-size:cover;

}

/*nav bar*/
/*To change the size of the tabs*/
header a{
display:flex;
font-weight: lighter;
height: 50px;
justify-content: center;
align-items: center;
color: white;
background:#191717;
width: 100%;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:2.2vmin;
text-decoration: none;
position:relative;
z-index: 1;
}
header p{
  margin-left: 5%;
  margin-right: 5%;
}
header ul {
  list-style: none;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background:#191717;
text-decoration: none;
border-bottom: 3px solid #079dbd;
}
header ul li{
  display: inline-block;
float: right;
width:10%;
}
header ul li :hover  {
  background: #079dbd;
transition: all .4s ease-in-out;
}
/*logo*/
header ul img{
width: 120px;
position: fixed;
height: 120px;
}
header ul img:hover{
  background: none;
}
header li:first-child{
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border: none;
}
/*active tab*/
.active a{
  background-color: #079dbd;
}

/* Content */
 main {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
min-height: 100%;


}
/*Title of page*/
 main ul {

padding:1.250em 7.500em;
  border: 2px white solid;
  list-style: none;
  text-align: center;
border-radius: 4vmin;
font-weight: normal;
margin-top: 5vmin;
font-family: 'Kanit', sans-serif;
font-size: 0.938em;
background-color: rgba(25, 23, 23, 0.6);
}

/*Profile picture*/
main img {
  width: 15.625em;
  height:15.625em;
  border-radius:300vmin;
  border: 2px white solid;
}




/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
}
.social img{
  width: 2.45em;
  height: 2.45em;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}
/*Copyright statement*/
.copyright {
color: white;
border: none;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 line-height: 1.7em;
 font-size: 	1.250em;
}



/*nexus5X Portrait and landscape*/
@media only screen
and (min-device-width:412px)
and (max-device-width:732px)
  and (-webkit-min-device-pixel-ratio: 3) {
  main ul{
  padding:1.050em 3.500em;
  font-size: 0.5em;
  }
  main img{
    width:10.625em;
    height:10.625em;
  }
  header p{
    display: none;
  }
  header a{
    font-size: 1em;
  }
  .social img{
    width: 1.45em;
    height:1.45em;
  }
  .copyright{
    font-size: 0.8em;
    line-height: -6em;
  }








}
/* Iphone 5 Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }
    .social img{
      width: 1.45em;
      height:1.45em;
    }
    .copyright{
      font-size: 0.8em;
      line-height: 4em;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }
    .social img{
      width: 1.45em;
      height:1.45em;
    }
    .copyright{
      font-size: 0.9em;
      line-height: 3.5em;
    }
}
/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    main ul{
    padding:1.050em 3.500em;
    font-size: 0.5em;
    }
    main img{
      width:10.625em;
      height:10.625em;
    }
    header p{
      display: none;
    }
    header a{
      font-size: 1em;
    }
    .social li{
      margin-top: 0.5em;
    }
    .social img{
      width: 1.45em;
      height:1.45em;

    }
    .copyright{
      font-size: 0.9em;
      margin-top: -1em;
    }

}


@media (max-width:437px) {
main img{
  width:8.625em;
  height:8.625em;
}
}
@media (max-width:399px) {
.social{line-height: 4em;
}
