/*Name:Benjamin George Jong McKeown Student number:16424393*/
/*Styling of the CV webpage*/

*{
  margin:0;
  padding:0;
}
html , body {
  height:100%;
  width: 100%;
}

body{
background:#bdbebf;
overflow-x: hidden;
width:100%;
background-size:cover;
background-position: top;


}

/*nav bar*/
/*To change the size of the tabs*/
header a{
display:flex;
font-weight: lighter;
height: 50px;
justify-content: center;
align-items: center;
color: white;
background:#191717;
width: 100%;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 2.2vmin;
text-decoration: none;
position:relative;
z-index: 1;
}
header ul {
  list-style: none;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background:#191717;
text-decoration: none;
border-bottom: 3px solid #079dbd;
}
header p{
  margin-left: 5%;
  margin-right: 5%;
}
header ul li{
  display: inline-block;
float: right;
width:10%;
}
header ul li :hover  {
  background: #079dbd;
transition: all .4s ease-in-out;
}
/*logo*/
header ul img{
width: 120px;
position: fixed;
height: 120px;
}
header ul img:hover{
  background: none;
}
header li:first-child{
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border: none;
}
/*active tab*/
.active a{
  background-color: #079dbd;
}

/* Content */

main{
  display: flex;
  color: black;
height:150%;
flex-direction: column;

}
.info{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-self: center;

}
main h1{
  color: black;
  position: block;
  justify-content: center;
  align-items: center;
  display: flex;
padding-top: 1.5em;
padding-bottom: 1em;
margin-top: 1em;
font-family: 'Kanit', sans-serif;
font-size: 1.7em;
background-color: white;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);

}

.info a{
  flex-direction: column;
margin-top: 5%;

font-size:  1.2em;
  width: 40em;
  height: 20em;
  padding: 3em;
font-family: 'Yanone Kaffeesatz', sans-serif;
background-color:white;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
border: 2px white solid;
}
.info h2{
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: -0.2em;
  color: #079dbd;
}
.info img{

  width: 15.750em;
  height: 15.750em;
  border-radius: 10em;

margin-top: 5%;
margin-left: 35%;
margin-right: 35%;
box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);

}

/*Skills*/
.columns{
  box-shadow:2px 0px 15px 0px rgba(50, 50, 50, 0.87);
  display: flex;
justify-content: space-around;
text-align: center;
flex-direction: row;
font-family:  'Yanone Kaffeesatz', sans-serif;
margin-top:6%;
margin-left: 2em;
margin-right: 2em;
padding: 20px;
font-size: 1.1em;
background-color: white;
font-family:  'Yanone Kaffeesatz', sans-serif;

border:2px white solid;
}

.columns h3{
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: #079dbd;
 }
.columns ul{
float: left;
list-style: none;
}

/*footer*/
footer{
  background:#191717;
  border-top: 3px solid #079dbd;
width: 100%;
}
/*Icons for the footer*/
.social {
display: flex;
justify-content: center;
}


.social  li{
list-style: none;
padding: 0 4vmin;
}
.social img{
  width: 2.45em;
  height: 2.45em;
opacity: 0.8;
justify-content: center;
}
.social img:hover{
  opacity: 1;
transition: all .4s ease;
transform: scale(1.2);

}
/*Copyright statement*/
.copyright {
color: white;
border: none;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 line-height: 1.7em;
 font-size: 	1.250em;
}

/*Change the icon size of the footer and header*/

@media (max-width:593px) {
main ul{
padding:1.050em 4.500em;
font-size: 0.6em;
}
main img{
  width:10.625em;
  height:10.625em;
}
header p{
  display: none;
}
header a{
  font-size: 1em;
}
}
/**/
@media (max-width:700px) {
  .columns{
    flex-direction: column;
    padding: 5px;
margin-bottom: 10%;
    font-size: 1.3em;
  }
}
  @media (max-width:886px) {
    .info a{
    font-size:  1em;
      width: 35em;
      height: 20em;
      padding: 2em;
    }
    .info h2{
      font-size: 1.4em;
    }
    .info img{
      width: 12.750em;
      height: 12.750em;
    }
    }
    @media (max-width:649px) {
      .info a{
      font-size:  0.8em;
        width: 30em;
        height: 25em;
        padding: 2em;
      }
      .info h2{
        font-size: 1.6em;
      }
      .info img{
        width: 10.750em;
        height: 10.750em;
        margin-left: 30%;
        margin-right: 30%;
      }
      }
      @media (max-width:459px) {
        .info a{
          margin-top: 3em;
        font-size:  0.8em;
          width: 18em;
          height: 25em;
          padding: 2em;
        }
        .info img{
          margin-left: 20%;
          margin-right: 20%;
        }

        .columns{
          margin-top: 2em;

        }
        main h1{
          margin-top: 4em;
        }
        .info img{
          margin-top: 2em;
        }
        }

        /* Iphone 5 Portrait and Landscape */
        @media only screen
          and (min-device-width: 320px)
          and (max-device-width: 568px)
          and (-webkit-min-device-pixel-ratio: 2) {
          main h1{
          font-size: 1.2em;
        margin-top: 5.5em;
      }
          .info img{
margin-top: 2em;
  width: 6em;
  height: 6em;
  margin-left: 32%;
  margin-right: 30%;
}
.columns{
  font-size: 1em;
margin-right: 7.5%;
margin-left: 7.5%;
align-items: center;
flex-direction: row;
}
.columns ul{
  margin-left: -10%;
  margin-right: -10%;
}
.info h2{margin-top: 0.1em;}
.info a{
  font-size: 0.7em;
width:20em;
margin-top:2em;
padding-bottom: 4em;
}
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main{
      height:130%;
    }
    .info img{
      margin-top: 3em;
    }
    .columns{
      margin-top: 1em;
      margin-left: 17%;
      margin-right: 17%;
      padding-top: 2em;
      padding-bottom: 2em;
    }

}
/* ----------- Galaxy S5----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main{
      height:130%;
    }
    .info img{
      margin-top:11em;
    }
    .columns{
      margin-top: 12em;
      margin-left: 15.5%;
      margin-right: 15.5%;
      padding-top: 2em;
      padding-bottom: 2em;
    }

}
  /* ----------- iPhone 6+ ----------- */

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
      .info img{
        margin-top: 2em;
      }

      .columns{margin-top: 2em;
      margin-left: 17.5%;
    margin-right: 17.5%;}
}

/*Ipad*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .info img{
      margin-top: 5em;
    }
    .info a{
      margin-top: 5em;
    }
    .columns{
      margin-top: 5em;
    }
    main{
      height: 120%;
    }
